.chat-side
  .side-bar
    .side-bar__name-box
      .side-bar__name-box__name
        akira
      .side-bar__name-box__icons
        .side-bar__name-box__icons__new-group
        = link_to new_group_path do
          = icon('fas', 'edit', class: "pen") 
        .side-bar__name-box__icons_edit-user
        = link_to edit_user_path(current_user.id) do
          = icon('fas', 'cog', class: "gia")
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group.id), class:"group-box" do
        .group-box__group-name
          = group.name
        .group-box__text
          = group.show_last_message
